<app-cover
  title="update jewelry price"
  sub1="Dashboard"
  sub2="jewelry price"
></app-cover>

<div class="w-full max-w-7xl mx-auto">
  <form
    #form="ngForm"
    (ngSubmit)="onFormSubmit()"
    class="bg-blue-50 shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    

      <div>
        <!-- dateAdj -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="dateAdj">
                date Adjustment
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 bg-blue-100 leading-tight focus:outline-none focus:shadow-outline"
              id="dateAdj"
              name="dateAdj"
              type="text"
              placeholder="Type here"
              [(ngModel)]="hijriDate.dateAdj"
              required
            />
          </div>
        <!-- note1Date -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="note1Date">
                Note1 Date
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 bg-blue-100 leading-tight focus:outline-none focus:shadow-outline"
              id="note1Date"
              name="note1Date"
              type="text"
              placeholder="Type here"
              [(ngModel)]="hijriDate.note1Date"
              required
            />
          </div>
        <!-- others1 -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="others1">
                others1
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 bg-blue-100 leading-tight focus:outline-none focus:shadow-outline"
              id="others1"
              name="others1"
              type="text"
              placeholder="Type here"
              [(ngModel)]="hijriDate.others1"
              required
            />
          </div>
        <!-- others2 -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="others2">
                others2
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 bg-blue-100 leading-tight focus:outline-none focus:shadow-outline"
              id="others2"
              name="others2"
              type="text"
              placeholder="Type here"
              [(ngModel)]="hijriDate.others2"
              required
            />
          </div>
      </div>

    <input
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      value="Update"
    />
  </form>
</div>

@if(confirmModal){
<confirm-modal
  title="Jewelry Price is successfully updated!"
  url=""
  (closeModal)="closeModal()"
/>
}
