<section>
  <div class="w-fit mx-auto flex flex-col lg:flex-row gap-5 py-10 text-black">
    <a
      routerLink="শায়খের_জীবনী"
      class="card w-full bg-green-600 text-white cursor-pointer"
    >
      <div class="card-body">
        <h2 class="text-3xl font-bold text-center">শায়খের জীবনী</h2>
      </div>
    </a>
    <a
      routerLink="খানকার_পরিচয়"
      class="card w-full bg-green-600 text-white cursor-pointer"
    >
      <div class="card-body">
        <h2 class="text-3xl font-bold text-center">খানকার পরিচয়</h2>
      </div>
    </a>
    <a
      routerLink="শাজারা"
      class="card w-full bg-green-600 text-white cursor-pointer"
    >
      <div class="card-body">
        <h2 class="text-3xl font-bold text-center">শাজারা</h2>
      </div>
    </a>
  </div>
</section>
