<section>
    <div class="container mx-auto">
        <div class="flex gap-5">
            <div class="mockup-phone border-primary">
                <div class="camera"></div> 
                <div class="display">
                  <div class="artboard artboard-demo phone-1">
                    <div class="h-[500px] w-full">
                        <iframe [src]="mapUrl"
                          class="left-0 top-0 h-full w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" frameborder="0"
                          allowfullscreen></iframe>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
