<section class="container mx-auto py-5">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        <app-audio-card title="audio no 01" googleDriveUrl="https://drive.google.com/file/d/1xWnIKvbEDxgAid3iQzIpJs9rUD_8xE0I/view?usp=sharing" />
        <app-audio-card title="audio no 02" googleDriveUrl="https://drive.google.com/file/d/1xWnIKvbEDxgAid3iQzIpJs9rUD_8xE0I/view?usp=sharing" />
        <app-audio-card title="audio no 03" googleDriveUrl="https://drive.google.com/file/d/1xWnIKvbEDxgAid3iQzIpJs9rUD_8xE0I/view?usp=sharing" />
    </div>
</section>
