<section class="container mx-auto p-2 md:p-5">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-3 lg:gap-5">
        <!-- husband -->
        <div class="relative">
            <span class="capitalize bg-white tracking-wider absolute -top-3 left-5 px-2">husband</span>
            <label class="input input-bordered flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                </svg>
                <input type="text" class="grow capitalize focus:border-none" placeholder="husband" />
            </label>
        </div>
        <!-- wife -->
        <label class="input input-bordered flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="h-4 w-4 opacity-70" viewBox="0 0 30 30"
                fill="currentColor">
                <path
                    d="M5,27c0-5,6.957-4.174,8-6.999V19c-3.778,0-5.914-1.884-5.914-1.884C9.06,15.473,6.326,4.043,13.049,4.043 c0,0,0.907-1.043,2.08-1.043c8.218,0,5.51,12.41,7.635,14.154c0,0-1.968,1.846-5.765,1.846v1.001C18.043,22.826,25,22,25,27H5z">
                </path>
            </svg>
            <input type="text" class="grow capitalize" placeholder="wife" />
        </label>
    </div>
</section>