<div class="hero bg-base-200 min-h-fit py-20">
  <div
    class="z-0 flex items-center flex-col lg:flex-row justify-between max-w-7xl w-full"
  >
    <div
      class="px-3 pt-10 bg-black bg-opacity-50 backdrop-filter backdrop-blur-md text-white max-w-lg"
    >
      <h1 class="text-5xl font-bold">খিদমাতুল কুরআন মাদরাসা</h1>
      <p class="py-6 text-justify font-thin text-xl lg:text-2xl">
        মহান আল্লাহ তায়ালা রাসূল সাল্লাল্লাহু আলাইহি ওয়াসাল্লামকে যে
        দায়িত্বগুলো দিয়ে পাঠিয়েছেন, তার প্রধান একটি দায়িত্ব হচ্ছে মানুষের
        আত্মশুদ্ধি করা। জাহেরী বা বাহ্যিক অঙ্গ পতঙ্গের গুনা থেকে বেঁচে থাকা যেমন
        ফরজ, তেমনি বাতিনি বা অভ্যন্তরীণ গুনাহ থেকেও বেঁচে থাকা ফরজ। মানুষের মাঝে
        বিদ্যমান বাতেনি রোগসমূহের মধ্যে অহংকার, হিংসা, পরশ্রীকাতরতা, চোগলখুরি,
        বদরাগ, কৃপণতা, পরনিন্দা, গালিগালাজ ও অশ্লীল কথাবার্তা ইত্যাদি সবগুলোই
        কবিরা গুনাহ। যেহেতু কবিরা গুনাহ থেকে বেঁচে থাকা ফরজে আইন, সুতরাং
        প্রত্যেক মুসলিম নর-নারীর জন্য আত্মশুদ্ধি করাও ফরজে আইন। আত্মশুদ্ধির
        মাধ্যমে গুনাহ থেকে বেঁচে, আল্লাহ তায়ালার মারেফাত তথা বিশেষ পরিচয় অর্জন
        এবং উশুল ইলাল্লাহ অর্থাৎ আল্লাহ পর্যন্ত পৌঁছাই হল সুলকু ও তাসাউফের মূল
        উদ্দেশ্য। সকল সিলসিলার বজুর্গদের জীবনের লক্ষ্যই ছিল আল্লাহর বান্দাকে
        আল্লাহ পর্যন্ত পৌঁছে দেওয়া। এ মহান দায়িত্ব পালনার্থে মাওলানা মুফতি
        জুবায়ের বিন এরশাদ হাফিজাহুল্লাহ খানকাহি মেহনত চালু করেছেন। সুদূর
        প্রসারী শিক্ষা পরিকল্পনার অংশ হিসেবে ২০১৪ সনে খানকায়ে আহমদীয়া
        খলিলিয়ার তত্ত্বাবধানে প্রতিষ্ঠা লাভ করে খিদমাতুল কুরআন মাদ্রাসা-- যা
        ইতোমধ্যে অত্র এলাকায় যথেষ্ট সুনাম কুড়াতে সক্ষম হয়েছে। সুযোগ্য
        শিক্ষকদের তত্ত্বাবধানে অত্যন্ত সুচারুরূপে প্রতিষ্ঠানটি পরিচালিত হচ্ছে
        এবং দর দুরান্ত থেকেও ছাত্রদের আনাগোনাও বেড়েছে।
      </p>
    </div>
    <div class="hidden md:block">
      <img
        src="https://i.ibb.co.com/PTJ4qh6/khidmatul-mobile-banner.png"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <!-- <button
        class="bg-green-600 hover:bg-green-800 text-white px-6 py-3 flex justify-center items-center gap-3 w-fit mx-auto rounded-xl"
      >
        <svg
          width="40px"
          height="40px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12ZM12 6.25C12.4142 6.25 12.75 6.58579 12.75 7V12.1893L14.4697 10.4697C14.7626 10.1768 15.2374 10.1768 15.5303 10.4697C15.8232 10.7626 15.8232 11.2374 15.5303 11.5303L12.5303 14.5303C12.3897 14.671 12.1989 14.75 12 14.75C11.8011 14.75 11.6103 14.671 11.4697 14.5303L8.46967 11.5303C8.17678 11.2374 8.17678 10.7626 8.46967 10.4697C8.76256 10.1768 9.23744 10.1768 9.53033 10.4697L11.25 12.1893V7C11.25 6.58579 11.5858 6.25 12 6.25ZM8 16.25C7.58579 16.25 7.25 16.5858 7.25 17C7.25 17.4142 7.58579 17.75 8 17.75H16C16.4142 17.75 16.75 17.4142 16.75 17C16.75 16.5858 16.4142 16.25 16 16.25H8Z"
              fill="#ffffff"
            ></path>
          </g>
        </svg>
        <span class="text-3xl">Download Now</span>
      </button> -->
    </div>
  </div>
</div>
