<section class="max-w-5xl mx-auto p-1 md:p-2 lg:p-5">
    <h1 class="text-center text-2xl lg:text-4xl text-primary">টাকা দিয়ে সদকায়ে ফিতির আদায় করলে আদায় হবে না?</h1>

    <card1 heading="প্রশ্ন" head="" arabic="" bangla="আসসালামু আলাইকুম। আলহামদুলিল্লাহ হজরত আপনার মেহনতের কারণে আমরা আহলে হাদিস ফিরকা থেকে বেঁচে থাকতে পারছি।" bangla1="আমার বাসা খিলগাঁও চৌধুরী পাড়া ঝিল মসজিদ, জামিয়া ইকরা বাংলাদেশ মাদ্রাসার সামনে, মাকতাবাতুস সালামের সাথেই।" bangla2="আমার প্রশ্ন হলো ইদানিং আহলে হাদিস গণ বলে বেড়াচ্ছে টাকা দিয়ে ফিতরা আদায় হবে না। কারণ হাদিসে খাবার সামগ্রী দিয়ে আদায় করতে বলা হইছে। এখন আমরা যে টাকা দিয়ে আদায় করি ফিতরা তা কিসের ভিত্তিতে। বা এর জবাবে আমরা তাদের কে কি বলতে পারি?" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />

    <card1 heading="" head="" arabic="" bangla="" bangla1="" bangla2="" bangla3="" bangla4="" bangla5="" bangla6="" bangla7="" bangla8="" bangla9="" bangla10="" />
</section>
