<section class="container mx-auto py-5">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        <app-video-card title="video no 01" img="https://i.ytimg.com/vi/aYOKFFLOyzY/maxresdefault.jpg" videoId="6ESfDLugCfE" />
        <app-video-card title="video no 02" img="https://i.ytimg.com/vi/aYOKFFLOyzY/maxresdefault.jpg" videoId="6ESfDLugCfE" />
        <app-video-card title="video no 03" img="https://i.ytimg.com/vi/aYOKFFLOyzY/maxresdefault.jpg" videoId="6ESfDLugCfE" />
    </div>
</section>
